*{
    margin: 0;
    font-family: Arial;
    border: border-box;
    
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    
}
.nab-logo{
    height:50px;
    width: 100px;
    margin-left: 50px;
}
.logo{
    background-image:url(image/WhatsApp\ Image\ 2023-10-31\ at\ 16.55.35.jpg) ;
    background-size: cover;
    height: 50px;
    width: 100%;
    border-radius: 50%;
}
.nav-search{
    display: flex;
    background-color: pink;
    width: 300px;
    height: 40px;
    border-radius: 25px;
    margin-left: 50px;
}
.search-input{
    width:100%;
    font-size: 1rem;
    border: none;
    border-radius: 25px;
    border: none;
}
.bet-body{
    height: 800px;
    width: 500px;
    background-color: grey;
    border: 2px solid black;
    margin-top: 2px;
    /* display: flex; */
    /* align-items: center;
    align-content: center; */
}
.section{
    
    margin-top: 60px;
    width: 500px;
    
}
ul a{
    display: block;
    font-size: 2rem;
    margin-top: 10px;
    color: black;
    text-align: center;
    width: 500px;
    /* display: flex;
    align-items: center;
    align-content: center; */
}
.box1{
    height: 50px;
    width: px;
    background-color:pink ;
    border-radius: 25px;
    margin-right:50px;
}
.box2{
    height: 50px;
    /* width: px; */
    background-color:pink ;
    border-radius: 25px;
    margin-right:50px;
}
.box3{
    height: 50px;
    background-color: red;
    width: 500px;
    margin-left: 0px;
}